html, body{
  height: 100%;
  width: 100%;
  
  background-color: #41B3A3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* li{
  display: inline;
  float: left;
} */
.nav-item{
   display: inline;
  float: left;
}

h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px grey;
   
   -webkit-text-stroke: 0.5px #E8A87C;
}
.nav {
  background-color: black;
 text-decoration: none;
}
a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}
a:hover{
  color: white;
}
.list{
  display: block;
}
.portion{
  padding-left: 350px;
}
/* .card-img{
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
} */
.buttonContainer{
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
}
.btn{
  flex-direction: row;
  justify-content: space-around;
/*   padding: 70px 70px; */
  background-color: #E27D60;
  border: 1px #E8A87C;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.background{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("https://medicine.umich.edu/sites/default/files/images/shared/mental-health-wellness-during-covid-19.jpg");
background-repeat: no-repeat;
/*   width: 100%; */
  background-size: cover;
  opacity: 0.6;
  
}
.space{
  padding-right: 20px;
}
.descrip{
  text-align: center;
}
.resource{
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 20px;
}

#phone{
  list-style-type: circle;
  padding-left: 60px;
}

iframe{
  width: 50%;
  margin-left: 350px;
  margin-right: 350px;
}
.med{
margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 20px;
}
.mental{
  padding-left: 60px;
}
.li1{
  list-style-type: circle;
}


.footer-basic {
  padding:40px 0;
  background-color:#e27d60;
  color:#ffffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#ffffff;
  margin-bottom:0;
}
